
:root {
	--landing-bg-color: #67aeca;
	--services-bg-color: #6d7993;
	--about-bg-color: #9099a2;
	--contact-bg-color: #d5d5d5;
	--outer-bg-color: #eeeeee;
	--inner-bg-color: #dddddd;
	--bg-color: white;
	--nav-height: 40px;
}
html {
	scroll-behavior: smooth;

}
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, li, section {
	padding: 0;
	margin: 0;

}
b {
	font-weight: bold;
}
.name {
	font-weight: bold;
	margin: 10px 0;
}
section {
	display: block;
}
body {
	background-color: var(--bg-color);
}
#container {
	padding: 0 60px;
}
.active {
	color: red !important;
}
h1, h2, h3, h4, h5, h6, p {
	color: black !important;
}
.body-list {
	padding-bottom: 5px;
}
#header {
	
	position: fixed;
	right: 60px;
	left: 60px;
	top: 0px;
	padding-top: 5px;
	height: var(--nav-height):
	z-index: 100;
	background-color: var(--bg-color);
	padding-bottom: 5px;
}
#logo-name {
	float: left;
	font-size: 18px;
	font-family: 'Jura', sans-serif !important;
	font-weight: 100;
}
#navigation {
	list-style-type: none;
	float: right;
}
#navigation li {
	float: left;
	margin-left: 10px;
}
a {
	color:red !important;
}
li a {
	font-size: 14px;
}
li, li a, h1, h2, h3, h4, h5, h6 {
	color: black !important;
	font-weight: 300;
}
.services-sub-container li {
	margin-left: 30px;
}
#information {
	clear: left;
}
.info-block {
	padding-top: var(--nav-height);
	padding-bottom: var(--nav-height);
	min-height: 300px;
}

#overview-block {
	min-height: 600px;
}
#left-overview {
	float: left;
	width: 50%;
	min-height: 600px;
	height: 600px;
	vertical-align: middle;
	display: table;
}
.v-center {
	display: table-cell;
	min-height: 600px;
	height: 600px;
	vertical-align: middle;
	margin: 0;
}
#overview-text {
	font-size: 36px;
	
}
#learnmore {
	color: red;
	font-size: 18px;
}

.shade, #about-block, #services-block, #contact-block, #pricing-block, #overview-block {
	clear: left;
	overflow: hidden;
}

#header, #footer, .info-block {
	padding-left: 20px;
	padding-right: 20px;
}
.info {
	padding-top: 40px;
	padding-top: 0;
}
.shade {
	background-color: #f7f7f7;
	border-radius: 20px;
	background-color: white;
}

h3 {
	font-weight: 400;
	border-bottom: 1px dotted black;
}
.services-sub-container {
	margin-right: 60px;
	clear: left;
}

.price-type {
	display: inline;
}
.price {
	display: inline;
}
.price, .price-type {
	padding: 0;
	font-size: 12px;
}
.price-row {
	width: 100%;
	display: flex;
}
.dots {
	flex-grow: 1;
	display: inline;
	border-bottom: dotted 1px black;
}
#profile-photo {
	margin: 0 auto;
	display: block;
	border-radius: 24px;
	padding-top: 20px;
	background-color: #75a6b3;
}
.contact-info {
	padding-top: 20px;
}
.contact-info-block {
	display: block;
}

.contact-type, .contact-data {
	display: inline-block;
}
.contact-info a {
	color: red;
}
.contact-type {
	font-weight: 400;
}

#footer {
	margin: 0 0 15px 0;
}
#logo-container {
	position: relative;
	min-height: 600px;
}
#logo {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
#footer p {
	font-size: 14px;
	font-weight: 300;
}
.left, .right {
	float: left;
	width: 50%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}
p, a, li {
	font-family: 'Open Sans', sans-serif;
}
h2 {
	font-size: 28px;
	font-weight: 300;
	margin-top: 20px;
	margin-bottom: 30px;
}
h3 {
	margin-bottom: 10px;
	font-size: 22px;
}
h2, h3, h4, h5, p, a {
	font-weight: 300;
}
a {
	text-decoration: none;
}
p, .contact-data {
	padding-bottom: 5px;
}
i {
	font-size: 16px;
}
button {
	padding: 0;
}
#menu-button {
	display: none;
	background-color: white;
	border: none;
}
.lower {
	padding-top: 20px;
}

@media screen and (max-width:750px) {
	.contact-data {
		word-break: break-all;
	}

	#navigation li:not(first-child) {
		display: none;
	}
	#menu-button {
		display: block;
		float: right;
	}
	
	#navigation {
		position: absolute;
		top: 5px;
		right: 0;
		background-color: white;
		border-radius: 10px;
	}
	#navigation.responsive li{
		display: block;
		float: right;
		clear: right;
	}
	.responsive#menu-button {
		position: relative;
		clear: right;
	}
	
	
	.left {
		clear: left;
		width: 100%; 
	}
	.right {
		clear: left;
		width: 100%;
		padding-top: 20px;
	}
	#left-overview, #about-left, #services-left, #services-right, .services-sub {
		width: 100%;
	}
	#profile-photo {
		display: none;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 18px;
	}
	a, #learnmore {
		font-size: 16px;
	}
	li, p, .contact-data {
		font-size: 14px;
	}
	#overview-text {
		font-size: 24px;
	}
	#container {
		padding: 0 10px;
	}
	.services-sub-container {
		margin: 0;
	}
	.services-sub-container li {
		margin-left: 20px;
	}
	#header {
		left: 10px;
		right: 10px;
	}
}
